* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  
background: aquamarine;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; 
}

#root {
  display: flex;
   height: 100vh;
  place-items: center;
  
 
  
}

#clock-watch {
  display: flex;
  padding: 5px;
 width: 550px;
 height: 600px;
 flex-direction: column;
 align-items: center;
 border-radius: 10px;
 box-shadow: 0 4px 8px yellow;
 background-color: blueviolet;
}


#title {
  font-size: 3.7rem;
  color: white;
  text-align: center;
  margin-top: 25px;
 
}

#sb-container {
  width: 400px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.sb-label {
  
  width: 150px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.sb-label > p {
  font-size: 1.3rem;
  color: white;
  margin-top: 5px;
  
} 

.sb-toolbar {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1rem;
   align-items: center;
  font-size: 2rem;
  color: white;
}


#timer-label {
  
  display: flex;
  width: 210px;
  height: 160px;
  flex-direction: column;
  align-items: center;
  background-color: deeppink;
  border-radius: 10px;
  border: 2px solid orange;
  margin-top: 35px;
  color: white;
  
  

 
}

#time-text {
  padding: 10px;
  font-size: xx-large;
}


#time-left {
  
  display: flex;
  flex: 1;
  font-size: 4rem;
  
  
}

#play-container {
  
  display: flex;
  width: 150px;
  height: 50px;
  flex-direction: row;
  margin-top: 15px;
  padding-left: 20px;
  
}

#play-container > i {
  font-size: 10px;
}

#start_stop {

  background-color: transparent;
  border: none;
  color: yellow;
 
  
}

#start_stop > i {
  font-size: 24px;
}

#reset {
  background-color: transparent;
  border: none;
  color: yellow;
  padding-left: 10px;
}

#reset > i {
  font-size: 30px;
}
