body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  background: #f9f9f9;
}

#title {
  font-size: 2em;
  margin: 20px 0 10px;
}

#description {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #555;
}

svg {
  display: block;
  margin: auto;
}

.county {
  stroke: #fff;
  stroke-width: 0.5;
  cursor: pointer;
}


#legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}


#legend text {
  font-size: 10px;
  fill: #333;
  text-anchor: middle;
}

#tooltip {
  position: absolute;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}
